body {
  background: linear-gradient(
    rgba(255, 255, 255, 0.45), 
    rgba(204, 0, 0, 0.493)
    ),url(img/affiche.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  }

  /*Testing Here and Stuff*/
  .menuhamburger{
    font-size:30px;
    color:#CC0000;
    cursor:pointer;

  }
  
  .navoptions{
    color:#fff;
    margin-bottom:5px;
  }
  .left-nav {
    height: 100%;
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CC0000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    position: absolute;
    -webkit-box-shadow: inset 6px 0px 30px -7px rgba(0,0,0,0.75), inset -6px 0px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 6px 0px 30px -7px rgba(0,0,0,0.75), inset -6px 0px 30px -7px rgba(0,0,0,0.75);
    box-shadow: inset 6px 0px 30px -7px rgba(0,0,0,0.75), inset -6px 0px 30px -7px rgba(0,0,0,0.75);
  }
  
  
  .left-nav a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .left-nav a:hover, .offcanvas a:focus{
      color: #f1f1f1;
  }
  
  .left-nav .closebtn {
    position: absolute;
    top: 12px;
    right: 17px;
    font-size: 36px;
    margin-left: 20px;
    color: #fff;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 28px 0 0 18px;
  }
  .left-nav p {
    font-family: arial;
    font-size: 14px;
    font: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2px;
    color:#fff;
    margin-bottom:5px;
    text-align: center;
     
    color: Tomato;
  }
  .left-nav span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    color:#fff;
    margin-bottom:5px;
    text-align: center;
    font-size: 3em; 
    color: Tomato;
  }
 @media screen and (max-height: 450px) {
    .left-nav {padding-top: 15px;}
    .left-nav a {font-size: 18px;}
  }
  
  .record {
    padding: 22px 0 0 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
  }

  button {
    background: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .disc {
    -webkit-transition: all 0.0s ;
    -moz-transition: all 0.0s ;
    -o-transition: all 0.0s ;
    transition: all 0.0s;
    height: 250px;
  }
  
  .disc:hover {
    -webkit-transform: rotate(2520deg);
    -moz-transform: rotate(2520deg);
    transform: rotate(2520deg);
    -webkit-transition: all 33s ease;
    -moz-transition: all 33s ease;
    -o-transition: all 33s ease;
    transition: all 33s ease;
  }
  
  .functions ul {
    list-style-type: none;
    margin: 4px 5px 0 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
  }
  .functions li {
    padding: 1px;
  }
  
  .functions a {
    color: #ffffff;
    text-decoration : none;
    background : transparent;
  }
  
  /*Progress Bar*/

  

  
