.hero {
  position: relative;
}

.hero::before {
  background-image: url("img/affiche.jpg");
  background-attachment: fixed;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}

/*BANDEAU*/

h3 {
  color: black;
  font-weight: bold;
}


/*SOUS-TITRE*/

h1 {
  color: black;
  font-weight: bold;
}


/*DERNIERS PODCASTS*/

.card {
  background-color: rgba(255, 255, 255, 0.5);
}

h4 {
  color: black;
  font-weight: bold;
}

h3:hover {
  color: rgb(235, 196, 22);
  text-decoration: none;
}

/*BARRE DE RECHERCHE */

#searchthis #search {
  background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond */
  width : 80vw;
  height: 40px;
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: rgb(235, 196, 22);   /* Couleur de la bordure  */
  text-align: center;
  font-style: italic;
}

#searchthis #search-btn {
  background-color:  rgb(235, 196, 22);   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: rgb(235, 196, 22);   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px; /* Espace entre les bords et le contenu : haut droite bas gauche  */ 
  width: 100%;   /* Permet d'ajuster la largeur du bouton à 100% */
  box-sizing: border-box;   /* Important */
  font-size: 13px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
}

#space {
  height: 100px
}


/*BARRE D'ÉCOUTE */


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display : table-row;
    height: 220px; /* à titre d'exemple */
    background-color :black;
}

.icon {
  color: white;
}

