/* ==================================================
                       Font page
  ================================================== */
  body
  {
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)), url(../img/affiche.jpg);
    background-attachment: fixed;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    background-size: cover;
    content: "";
    display: block;
    z-index: -2;
  }

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
}

h1 {
  font-size: 62px;
}
/*
h2 {
  font-size: 30px;
  margin-bottom: 65px;
}
*/
h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */

a {
  transition: 0.5s;
}


/* ==================================================
               Bandeau noir
  ================================================== */

.btn {
  background-color: #199EB8;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;

}


.btn:hover {
  background: rgba(245, 38, 38, 0.61);
  color: black;
}

/* ==================================================
               Elements
  ================================================== */

.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #199EB8;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #199EB8;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover,
.scrolltop:active,
.scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}

/* ==================================================
  Hero Styling
================================================== */

/* bandeau noir*/
.hero {
  display: table;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 0;
  color: #fff;
  width: 100%;
  height:30px;
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* Bandeau menu*/
.hero-brand:hover {
  opacity: .75;
}

.tagline {
  /*font-family: "Raleway", Helvetica, Arial, sans-serif;*/
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}

/* ==================================================
  Header Styling
================================================== */

#header {
  background: rgba(245, 38, 38, 0.61);
  height: 70px;
}

#header #logo {
  margin: 14px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#header .social-nav {
  margin-top: 15px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: white;
}

#header .social-nav a:hover {
  color: black;
}
/*
#header .social-nav a:hover {
  color: #199EB8;
}
*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 22px 20px 18px 30px;
  text-decoration: none;
  display: inline-block;
  color:black;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.social-nav .connexion{
  color:black;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: bold;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color:rgb(235, 196, 22);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #199EB8;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #199EB8;
}

#mobile-nav ul .menu-item-active {
  color: #199EB8;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.social-nav .partage {
  background-color:  rgba(245, 38, 38, 0.61);
  padding: 15px 35px;
  border-radius: 50px;
  margin: 10px;
}

.social-nav .partage:hover{
  background: #199EB8;
  color: black;
}


/* ==================================================
  Podcast Styling
  ================================================== */

.podcast 
{
  padding-top: 10px;
}

.podcast h2 {
  color: #000;
  font-weight: bold;
  font-size: 3.5em;
/*  margin: 20px; */
}

.podcast .col-sm-3 {  /*a voir*/
  padding: 0;
}

.podcast .card > a {
  display: block;
}

.podcast .card img {
  width: 100%;
}

.podcast .card h4 {
  color: black;
  text-transform: uppercase;
}

.podcast .podcast-over p {
  font-size: 11px;
  color: white;
  font-size: 15px;
  opacity: .75;
  margin: 0;
}

.podcast .emission p {
  font-size: 11px;
  color: black;
  font-size: 15px;
  opacity: .75;
  margin: 0;
}

.podcast .card .social-nav {
  margin-bottom: 45px;
}

.podcast .card .social-nav a {
  color: #fff;
  font-size: 16px;
  margin: 0 4px;
}

.podcast .card .social-nav a:hover {
  opacity: .75;
}


.podcast .card:hover .podcast-over {
  opacity: 1;
  visibility: visible;
}

.podcast .card:hover .card-title-wrap {
  background-color: #199EB8;
}

.podcast .card:hover .card-title-wrap .card-title,
.podcast .card:hover .card-title-wrap .card-text {
  color: #fff;
}

.podcast .podcast-over {
  padding-top: 45px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.884);
  top: 0;
  left: 0;
  /*text-align: center;*/
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.podcast .card-title-wrap {
  padding: 15px 25px;
  position: relative;
  z-index: 9;
  
}
.card{
  background-color: rgba(255, 255, 255, 0.562);
}

.podcast .card-title-wrap .card-title,
.podcast .card-title-wrap .card-text {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;
}

.podcast .card-title-wrap .card-title {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}

.podcast .card-title-wrap  {
  font-size: 13px;
  color: #999;
}

.podcast .card-text {
  font-size: 11px;
  color: #333;
}

.media .nom{
  font-size: 25px;
  font-weight: bold;
}

.list-inline-item .fa-play-circle{
  color:  rgb(235, 196, 22);
}

.fa-pause-circle{
  color: rgb(235, 196, 22);
}

.fa-pause-circle:hover{
  color: black;
}

.ecoute{
  color: black;
}

/* ==================================================
  Contact Section
  ================================================== */

#contact {
  padding: 80px 0;
}

#contact h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: rgb(231, 109, 109);
  font-weight: bold;
  font-size: 45px;
}

#contact .info i {
  font-size: 32px;
  color: rgb(241, 114, 114);
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .form #sendmessage {
  color: black;
  border: 1px solid rgb(243, 122, 122);
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #199EB8;
  border: 0;
 /* padding: 10px 24px;*/
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #23c2e1;
}

/* ==================================================
       Bandeau Footer Styling
  ================================================== */

.site-footer {
  background-color: #111;
  padding: 0;
}

.site-footer h2,
.site-footer p {
  color: #fff;
}

.site-footer p {
  opacity: .75;
  line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}

.site-footer .social-nav a {
  color: #fff;
  opacity: .25;
}

.site-footer .social-nav a:hover {
  opacity: 1;
}

.site-footer .bottom {
  background-color: #000;
  padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}

.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-footer .bottom .list-inline a {
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
  color: #199EB8;
}

.site-footer .credits {
  color: #ddd;
}

.site-footer .credits a {
  color: #199EB8;
}

/* ==================================================
  Responsive Styling
  ================================================== */

@media (max-width: 768px) {
  #header {
    height: 50px;
  }

  #header #logo {
    margin: 10px 0 0 0;
  }

  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }

  #header #logo img {
    max-height: 30px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }
}

@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
  padding: 35px 0;
  }

  .features {
    padding-bottom: 5px;
  }

  p,
  .block p {
    margin: 0;
  }

  .hero-brand {
    margin-bottom: 35px;
  }

  .tagline {
    margin: 35px 0;
  }

  h1 {
    font-size: 32px;
    margin: 0;
  }

  h2,
  .tagline {
    font-size: 24px;
  }

  h2 {
    margin-bottom: 25px;
  }

  h3 {
    font-size: 14px;
  }

  .hero {
    padding: 75px 0;
  }

  .stats-col {
    margin-bottom: 25px;
  }

  .block {
    height: auto;
  }

  .feature-col {
    padding-bottom: 30px;
  }

  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }

  .portfolio-grid .card .card-text {
    font-size: 13px;
  }

  .team .team-over {
    padding-top: 20px;
  }

  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }

  .site-footer .social-nav {
    margin-bottom: 35px;
  }

  .site-footer .list-inline {
/*    text-align: center;*/
    padding-bottom: 15px;
  }

  .site-footer .list-inline li {
    display: inline-block;
  }
}

.list-inline-item 
{
  color: rgb(235, 196, 22);
  margin-left: 15px;
}

/*BARRE DE RECHERCHE */
  
#searchthis #search {
  background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond */
  width : 80vw;
  height: 40px;
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: rgb(235, 196, 22);   /* Couleur de la bordure  */
  text-align: center;
  font-style: italic;
}

#searchthis #search-btn {
  background-color:  rgb(235, 196, 22);   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: rgb(235, 196, 22);   /* Couleur de la bordure  */
  width: 100%;   /* Permet d'ajuster la largeur du bouton à 100% */
  box-sizing: border-box;   /* Important */
  font-size: 13px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
}